.encabezado-gris{
    width: 598px;
    height: 5rem;
    background-color: rgb(223, 223, 223);
    margin: 0 0  0 0.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 16px 16px 0 0;
}

.punto-rojo, .punto-amarillo, .punto-verde{
    width: 2rem;
    height: 2rem;
    margin: 1.5rem 0 0 1.5rem;
}

.caja-padre{
    width: 598px;
    height: 530px;
    background-color: white;
    margin-left: 0.5rem;
}
.cuadro1{
    width: 570px;
    height: 6rem;
    margin-left: 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.rojo1{
    width: 38rem;
    height: 6rem;
    background-color: red;
    margin-top: 1rem;
}

.rojo2{
    width: 17rem;
    height: 6rem;
    background-color: red;
    margin-top: 1rem;
    margin-left: 1rem;
}

.cuadro2{
    width: 570px;
    height: 17rem;
    margin: 2rem 0 0 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.naranja{
    width: 17rem;
    height: 17rem;
    background-color: orange;
}

.tansparente-morado{
    width: 600px;
    height: 6rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.morado1{
    width: 20rem;
    height: 8rem;
    background-color: blueviolet;
    margin-left: 1rem;
}

.morado2{
    width: 20rem;
    height: 8rem;
    background-color: blueviolet;
    margin-left: 1rem;
    margin-top: 1rem;
}

.cuadro-final{
    width: 570px;
    height: 100px;
    background-color: white;
    margin: 1rem 0  0 1rem;
    display: flex;
    flex-direction: row;
}

.uno{
    width: 15rem;
    height: 6.5rem;
    background-color: rgb(58, 121, 121);
}

.dos, .tres{
    width: 15rem;
    height: 6.5rem;
    background-color: rgb(58, 121, 121);
    margin-left: 1rem;
}

.contenedor{
    width: 630px;
    height: 630px;
    background-color: rgb(86, 86, 86);
    border-radius: 15px;
    margin-left: 22rem;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(84, 82, 82);
}

.fondo{
    background-color: rgb(114, 229, 214);;
}